
*.xcuserstate

*.xcscheme

*.xcbkptlist

Pods/Pods.xcodeproj/xcuserdata/junchao.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/jack.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/silver6wings.xcuserdatad/xcschemes/xcschememanagement.plist
